.cache/
build/
build-stable/
upload.sh
repl.sh
benchmark.sh
profile.sh
profile-upload.sh
*:Zone.Identifier
*.ncu-rep
.envrc
experiments-outputs/
_test/
*/__pycache__/
rel_work/
out
__tmp_working_line_graph*